<h1>編集</h1>
<% if @product.documenttype=="製品"%>
<%= render partial: "input", locals: { product: @product ,ext: @ext } %>
<% else %>
<%= render partial: "input_document", locals: { product: @product ,ext: @ext } %>
<% end %>