<h1>IATF APQP / PPAP 説明</h1>


<div class="tab_wrap">
	<input id="tab1" type="radio" name="tab_btn" checked>
	<input id="tab2" type="radio" name="tab_btn">
	<input id="tab3" type="radio" name="tab_btn">
  <input id="tab4" type="radio" name="tab_btn">
  <input id="tab5" type="radio" name="tab_btn">
  <input id="tab6" type="radio" name="tab_btn">

	<div class="tab_area">
		<label class="tab1_label" for="tab1">フェーズ1</label>
		<label class="tab2_label" for="tab2">フェーズ2</label>
		<label class="tab3_label" for="tab3">フェーズ3</label>
    <label class="tab4_label" for="tab4">フェーズ4</label>
    <label class="tab5_label" for="tab5">フェーズ5</label>
    <label class="tab6_label" for="tab6">PPAP</label>






	  </div>
	  <div class="panel_area">
	  	<div id="panel1" class="tab_panel">
      
      <table>
       <thead>
       <table border="1" >
        <tr>
         <th>項目</th>
         <th>内容</th>
        </tr>
       </thead>
      <tbody>

      <tr>
       <td rowspan="4">顧客の声</td>
       <td>①外部顧客と内部顧客の声を考慮する。</td> 
      </tr>
      <tr>
       <td>②市場調査を行う。</td>
      </tr>
      <tr>
       <td>③過去の品質情報を調査する。</td>
      </tr>
      <tr>
       <td>④APQPチームの経験を調査する。</td>
      </tr>

      <tr>
       <td rowspan="3">事業計画・マーケティング戦略</td>
       <td>①顧客の事業計画を調査し、マーケティング戦略を作製する。</td> 
      </tr>
      <tr>
       <td>②事業計画では、APQPに影響を及ぼす条件（スケジュール、コスト、投資、製品の位置づけ、研究開発資源など）を、明確にする。</td>
      </tr>
      <tr>
       <td>③マーケティング戦略によって、対象顧客、セールスポイント、および競争相手を明確にする。</td>
      </tr>
  
      <tr>
       <td rowspan="6">製品・製造工程のベンチマークデータ</td>
       <td>①ベンチマーク（基準のなるもの）によって、製品・製造工程の目標を設定するための条件が明確になる。</td> 
      </tr>
      <tr>
       <td>②研究開発の状況からも、ベンチマーク情報が得られる。</td>
      </tr>
      <tr>
       <td>③ベンチマークを成功させる方法には、次のものがある。</td>
      </tr>
      <tr>
       <td>・適切なベンチマークの特定。</td>
      </tr>
      <tr>
       <td>・現状とベンチマークとの間のギャップの理由の理解。</td>
      </tr>
      <tr>
       <td>・ギャップを小さくする、ベンチマークに到達する、またはベンチマークを超える計画。</td>
      </tr>

      <tr>
       <td rowspan="2">製品・製造工程の前提条件</td>
       <td>①製品の特長、設計・製造工程の前提条件を明確にする。</td> 
      </tr>
      <tr>
       <td>②これには、技術革新、先進材料、信頼性評価、および新技術が含まれる。</td>
      </tr>
  
      <tr>
       <td> 製品の信頼性調査</td>
       <td>①指定期間内における製品の修理・交換の頻度、および長期信頼性・耐久性試験の結果を考慮する。</td> 
      </tr>

      <tr>
       <td rowspan="2">顧客インプット</td>
       <td>①製品に対する顧客のニーズと期待をまとめる。</td> 
      </tr>
      <tr>
       <td>②顧客の声は、顧客の定期的な要求と期待、また顧客インプットは、顧客の具体的・定量的な要求と期待を考えるとよい。</td>
      </tr>

      <tr>
       <td rowspan="2">設計目標</td>
       <td>①設計目標として、顧客の要求・期待を定量的にまとめる。</td> 
      </tr>
      <tr>
       <td>②顧客の声には、法規制要求事項も含まれる。</td>
      </tr>

      <tr>
       <td rowspan="2">信頼性目標・品質目標</td>
       <td>①信頼性目標は、顧客の要求と期待、APQPの目的、および信頼性ベンチマークに基づいて設定される。</td> 
      </tr>
      <tr>
       <td>②品質目標は、ppm（不良率）、問題水準、またはスクラップ削減量などの指標にもおtづいたものとする。</td>
      </tr>

      <tr>
       <td> 暫定材料明細表</td>
       <td>①製品・製造工程の前提条件をもとに、暫定材料明細表を作製する。これには供給者のリストを含める。</td> 
      </tr>

      <tr>
       <td> 暫定プロセスマップフロー図</td>
       <td>①暫定材料明細表および製品・製造奥底の前提条件をもとに、暫定プロセスフロー図を作製する。</td> 
      </tr>

      <tr>
       <td rowspan="6">特殊製品特性・特殊プロセス特性の暫定リスト</td>
       <td>①特殊製品特性・特殊プロセス特性は、顧客が特定し、さらに組織が追加する。</td> 
      </tr>
      <tr>
       <td>②特殊特性を特定するためのインプット情報の例には、次のものが含まれる。</td>
      </tr>
      <tr>
       <td>・顧客のニーズ、期待の分析をもとにした製品の前提条件。</td>
      </tr>
      <tr>
       <td>・信頼性到達目標および要求事項の特定。</td>
      </tr>
      <tr>
       <td>・想定する製造プロセスにおける特殊プロセス特性の特定。</td>
      </tr>
      <tr>
       <td>・類似製品のFMEA。</td>
      </tr>

      <tr>
       <td rowspan="7">製品保証計画書</td>
       <td>①製品保証計画書は設計目標を設計要求事項（設計インプット）に変換したものであり、顧客のニーズ・期待に基づく。</td> 
      </tr>
      <tr>
       <td>②製品保証計画書には、次の事項を含める。</td>
      </tr>
      <tr>
       <td>・APQPプログラム要求事項の概要。</td>
      </tr>
      <tr>
       <td>・信頼性・耐久性目標、および要求事項の特定。</td>
      </tr>
      <tr>
        <td>・新技術、複雑さ、材料、適用、環境、梱包、サービスおよび製造要求事項。</td>
      </tr>
      <tr>
       <td>・故障モード影響解析（FMEA)の利用、など。</td>
      </tr>
      <tr>
      <td>③製品保証計画書は、新製品の設計・開発計画書に相当する。</td>
      </tr>

      <tr>
       <td rowspan="4">経営者の支援</td>
       <td>①経営者の製品品質計画会議への参加は、不可欠である。</td> 
      </tr>
      <tr>
       <td>②APQPの各フェースの終了時に、経営者に最新情報を提供する。</td>
      </tr>
      <tr>
       <td>③APQPの目標は、要求事項が満たされていること、および懸念事項が文書化され、解決のスケジュールが建てられていることを実証することによって、経営者の支援を得る事である。</td>
      </tr>
      <tr>
       <td>④必要な生産能力を確保するための経営資源および人的配置に関するAPQPプログラムのスケジュールが含まれる。</td>
      </tr>

      </tbody>
    </table>


	  	</div>

  		<div id="panel2" class="tab_panel">


      <table>
        <thead>
         <table border="1">
          <tr>
           <th>項目</th>
           <th>内容</th>
  
          </tr>
        </thead>
       <tbody>

       <tr>
       <td> 設計故障モード影響解析（DFMEA）</td>
       <td>①DFMEAは、発生する可能性のある故障の確立と、その故障が発生した場合の影響を評価する為の解析的手法である。</td> 
      </tr>

      <tr>
       <td> 製造性・組立性を考慮した設計</td>
       <td>設計機能（製品特性）と製造・組立の容易さの関係を最適化することを検討する。</td> 
      </tr>

      <tr>
       <td> 設計検証</td>
       <td>①製品設計の結果（アウトプット）が、APQPフェーズ１のアウトプット（APQPフェーズ２のインプット）である、顧客要求事項を満たしていることを検証する。</td> 
      </tr>

      <tr>
       <td rowspan="8">デザインレビュー</td>
       <td>①デザインレビューは、設計技術部門が主催する、定期的なレビュー会議である。</td> 
      </tr>
      <tr>
       <td>②デザインレビューには、次の項目に対する評価を含める。</td>
      </tr>
      <tr>
       <td>・設計・昨日要求事項。</td>
      </tr>
      <tr>
       <td>・信頼性の到達目標。</td>
      </tr>
      <tr>
        <td>・コンピューターシミュレーションおよびベンチマークテスト結果。</td>
      </tr>
      <tr>
       <td>・DFMEA</td>
      </tr>
      <tr>
       <td>・製造性・組立性を考慮した設計のレビュー。</td>
      </tr>
      <tr>
       <td>・実験計画法（DOE）など。</td>
      </tr>

      <tr>
       <td rowspan="5">試作コントロールプラン</td>
       <td>①試作コントロールプランは、試作段階における寸法測定、材料・機能試験について記述したものである。</td> 
      </tr>
      <tr>
       <td>②次の事項について、試作品をレビューする。</td>
      </tr>
      <tr>
       <td>・製品・サービスが、要求どおりに仕様書および報告データを満たしていることを保証する。</td>
      </tr>
      <tr>
       <td>・特殊製品特性・特殊プロセス特性に特別の注意を払う。</td>
      </tr>
      <tr>
        <td>・暫定的な工程パラメータおよび梱包要求事項を設定する。</td>
      </tr>

      <tr>
       <td rowspan="4">図面（数学的データを含む）</td>
       <td>①顧客が接敵を行った場合でも、組織には図面を検討する責任がある。</td> 
      </tr>
      <tr>
       <td>②顧客の図面が存在しない場合、組付け、昨日、耐久性、および法規制要求事項に影響する特性を決定するために、管理用の図面をレビューする</td>
      </tr>
      <tr>
       <td>③実現可能性および業界の製造・測定規格との一貫性を保証するために、寸法評価を行う。</td>
      </tr>
      <tr>
       <td>④（該当する場合）効果的な双方向コミュニケーションを可能にするために、数字的データを顧客のシステムで扱える形にすることを保証する（顧客と共通のCADの使用など）</td>
      </tr>

       <tr>
       <td rowspan="2">図面（数学的データを含む）</td>
       <td>①仕様書の詳細なレビューと理解は、対象となっているコンポーネントまたは組立品の機能、耐久性および外観に関する要求事項を特定するのに役立つ。</td> 
      </tr>
      <tr>
       <td>②どの特性が機能、耐久性および外観に関する要求事項の満足に影響するかを決定する。</td>
      </tr>

      <tr>
       <td rowspan="2">技術仕様書</td>
       <td>①仕様書の詳細なレビューと理解は、対象となっているコンポーネントまたは組立品の機能、耐久性および外観に関する要求事項を特定するのに役立つ。</td> 
      </tr>
      <tr>
       <td>②どの特性が機能、耐久性および外観に関する要求事項の満足に影響するかを決定する。</td>
      </tr>

      <tr>
       <td> 材料仕様書</td>
       <td>①図面・性能仕様書に加えて、物理的性質、性能、環境、取扱いおよび貯蔵の各要求事項に関連する特殊特性について、材料仕様書をレビューする.</td> 
      </tr>

      <tr>
       <td> 図面・仕様書の変更</td>
       <td>①図面及び仕様書の変更が必要となる場合、その変更が影響する部門に速やかに伝えられ、適切に文書化されることを確実にする。</td> 
      </tr>

      <tr>
       <td rowspan="4">新規の装置・治工具・施設に関する要求事項</td>
       <td>①DFMEA、製品保証書およびデザインレビューにおいて、新規装置・施設が、生産能力要求事項を満たすことを特定する。</td> 
      </tr>
      <tr>
       <td>②これらの要求事項をタイミングチャートに追加する。</td>
      </tr>
      <tr>
       <td>③新規の装置・治工具が、必要な性能を備え、期日どおりに引渡しが行われることを保証する。</td>
      </tr>
      <tr>
       <td>④量産テストの予定期日前に施設が完成することを確実にするために、進捗状況を監視する。</td>
      </tr>

      <tr>
       <td> 特殊製品特性・特殊プロセス特性</td>
       <td>①APQPフェーズ１で特定した、暫定特殊特性リストを検討する。</td> 
      </tr>

      <tr>
       <td rowspan="3">ゲージ・試験装置の要求事項</td>
       <td>①ゲージ・試験装置に関する要求事項を明確にする。</td> 
      </tr>
      <tr>
       <td>②これらの要求事項をタイミングチャートに加える。</td>
      </tr>
      <tr>
       <td>③要求されるタイミングが満たされていることを保証するために、進捗状況を監視する。</td>
      </tr>

      <tr>
       <td rowspan="4">実現可能性検討報告書および経営者の支援</td>
       <td>①製品設計案の実現可能性を評価する。</td> 
      </tr>
      <tr>
       <td>②顧客が設計した場合でも、組織には設計の実現可能性を評価する義務がある。</td>
      </tr>
      <tr>
       <td>③この設計案によって、十分な数量の製品を期日通りに、顧客に受け入れられるコストで、製造、組立て、試験、梱包および引渡しができるという確信を得る。</td>
      </tr>
      <tr>
       <td>④実現可能性検討報告書（チーム・フィージビリティ・コミットメント）の項目参照（図j2.11参照）</td>
      </tr>

       </tbody>
      </table>

	  	</div>
 
  		<div id="panel3" class="tab_panel">


      <table>
        <thead>
         <table border="1">
          <tr>
           <th>項目</th>
           <th>内容</th>
  
          </tr>
        </thead>
       <tbody>

       <tr>
       <td rowspan="3">梱包規格・仕様書</td>
       <td>①製品の梱包仕様書は通常顧客から提示される。</td> 
      </tr>
      <tr>
       <td>②顧客から提示されない場合、製品が顧客に使用される時まで、その安全性を確保する梱包を設計する。</td>
      </tr>
      <tr>
       <td>③個々の製品梱包（内部の仕切りを含む）が設計され、開発されていることを確実にする。</td>
      </tr>

      <tr>
       <td rowspan="2">製品・プロセスの品質システムのレビュー</td>
       <td>①製造事業所の品質マネジメントシステム（品質マニュアルなど）をレビューする。</td> 
      </tr>
      <tr>
       <td>②製品を生産するために追加の管理や手順変更が必要な場合は更新し、文書化し、コントロールプランに含める。</td>
      </tr>

      <tr>
       <td rowspan="2">プロセスフロー図</td>
       <td>①プロセスフロー図は、製造・組立プロセスの始めから終わりまでの、機械、材料、方法および人員の変動源の分析に使うことができる。</td> 
      </tr>
      <tr>
       <td>②プロセスフロー図は、組織のAPQPチームがプロセスFMEAを実施し、コントロールプランを作製する際に、プロセスに焦点を絞るのに役立つ。</td>
      </tr>

      <tr>
       <td rowspan="2">フロアプランレイアウト</td>
       <td>①検査地点、管理図の置場所、ビジュアルエイズ（外観見本など）の適用可能性、応急修理場所および不適合品の保管場所などの重要な管理項目が、適切かどうかを判定するため、フロアプランレイアウトを作製する。</td> 
      </tr>
      <tr>
       <td>②フロアプランレイアウトは、部材の搬送、取扱いおよびフロアスペースの有効活用という点で最適化する方法で開発する。</td>
      </tr>

      <tr>
       <td rowspan="2">特性マトリクス</td>
       <td>①特性マトリクスは、工程パラメーターと作業工程の関係を表すために推奨される解析的手法である。</td> 
      </tr>
      <tr>
       <td>②特性マトリクスの例は、図２．１５参照</td>
      </tr>

      <tr>
       <td rowspan="2">プロセス故障モード影響解析（PFMEA）</td>
       <td>①PFMEAは、新規または変更された製造工程のリスク評価・分析方法である。</td> 
      </tr>
      <tr>
       <td>②PFMEAは、新規新規または変更された製品の線在的なプロセス問題を予測、解決、または監視することが目的である。</td>
      </tr>


      <tr>
       <td rowspan="9">先行生産（Pre-launch,量産試作）コントロールプラン</td>
       <td>①先行生産（量産試作）コントロールプランは、試作後、かつ量産前に行われる寸法測定および材料・機能試験について記述したものである。</td> 
      </tr>
      <tr>
       <td>②先行生産コントロールプランには、量産プロセスの妥当性が確認されるまでに実施すべき、追加の製造・プロセスの管理を含む。</td>
      </tr>
      <tr>
       <td>③先行生産コントロールプランの目的は、量産前または量産初期に起こり得る不適合を封じ込めることである。</td>
      </tr>
      <tr>
       <td>④先行生産コントロールプランを充実させる項目として、次の例がある。</td>
      </tr>
      <tr>
       <td>・検査頻度の増加</td>
      </tr>
      <tr>
       <td>・ロバストな統計的評価</td>
      </tr>
      <tr>
       <td>・工程内および最終地点におけるチェックポイントの増設</td>
      </tr>
      <tr>
       <td>・監査の強化</td>
      </tr>
      <tr>
       <td>・エラー防止機器の特定</td>
      </tr>

      <tr>
       <td rowspan="17">プロセス指示書</td>
       <td>①プロセス指示書は、作業に直接の責任を負う作業員にとって、十分わかりやすく詳細に記述されたものとする。</td> 
      </tr>
      <tr>
       <td>②この指示書は次の情報をもとに作成する。</td>
      </tr>
      <tr>
       <td>・FMEA</td>
      </tr>
      <tr>
       <td>・コントロールプラン</td>
      </tr>
      <tr>
       <td>・図面、性能仕様書、材料仕様書</td>
      </tr>
      <tr>
       <td>目視標準および業界標準</td>
      </tr>
      <tr>
       <td>・プロセスフロー図</td>
      </tr>
      <tr>
       <td>・フロアプランレイアウト</td>
      </tr>
      <tr>
       <td>・特性マトリクス</td>
      </tr>
      <tr>
       <td>・梱包規格・仕様書</td>
      </tr>
      <tr>
       <td>・特性マトリクス</td>
      </tr>
      <tr>
       <td>・工程パラメータ</td>
      </tr>
      <tr>
       <td>・プロセス、製品に関する専門性・知識</td>
      </tr>
      <tr>
       <td>・取扱い要求事項</td>
      </tr>
      <tr>
       <td>・プロセスの作業員</td>
      </tr>
      <tr>
       <td>③標準作業手順に関するプロセス指示書を掲示する。</td>
      </tr>
      <tr>
       <td>④これには機械速度、送り、サイクル時間、治工具などの設定パラメータを含める。</td>
      </tr>

      <tr>
       <td rowspan="2">測定システム解析計画書</td>
       <td>①必要な測定システム解析の実施計画書を、測定補助具も含めて開発する。</td> 
      </tr>
      <tr>
       <td>②コントロールプランで特定された特性が、この工程能力予備調査計画書の基準となる。</td>
      </tr>

      <tr>
       <td rowspan="2">工程能力予備調査計画書</td>
       <td>①工程能力予備調査計画書を作製する。</td> 
      </tr>
      <tr>
       <td>②コントロールプランで特定された特性が、この工程能力予備調査計画書の基準となる。</td>
      </tr>

      <tr>
       <td rowspan="3">経営者の支援</td>
       <td>①プロセスの設計・開発段階の終了時に、経営者のコミットメントの為のレビューを行う。</td> 
      </tr>
      <tr>
       <td>②このレビューは、未解決問題の解決の助けとなる支援を得るだけでなく、上層経営陣に情報提供するためにも重要である。</td>
      </tr>
      <tr>
       <td>③経営者の支援には、計画内容の確定、ならびに必要な生産能力を満たすための経営資源と人員の提供を含む</td>
      </tr>


       </tbody>
      </table>

  		</div>
	
      <div id="panel4" class="tab_panel">

      <table>
        <thead>
         <table border="1">
          <tr>
           <th>項目</th>
           <th>内容</th>
  
          </tr>
        </thead>
       <tbody>

       <tr>
       <td rowspan="14">実質的生産</td>
       <td>①実質的生産は、基本的に量産用治工具、量産設備、量産環境（作業員含む）、施設、量産用ゲージおよび生産能率を用いて実施する。</td> 
      </tr>
      <tr>
       <td>②実質的生産の最小数量は、通常顧客が決定する。</td>
      </tr>
      <tr>
       <td>③実質的生産のアウトプット製品は次のために使用される。</td>
      </tr>
      <tr>
       <td>・工程能力予備調査</td>
      </tr>
      <tr>
       <td>・測定システム解析</td>
      </tr>
      <tr>
       <td>・生産能率実証</td>
      </tr>
      <tr>
       <td>・プロセスレビュー</td>
      </tr>
      <tr>
       <td>・量産の妥当性確認試験</td>
      </tr>
      <tr>
       <td>・生産部品承認</td>
      </tr>
      <tr>
       <td>・梱包評価</td>
      </tr>
      <tr>
       <td>・初回能力</td>
      </tr>
      <tr>
       <td>・品質計画承認署名</td>
      </tr>
      <tr>
       <td>・生産部品サンプル</td>
      </tr>
      <tr>
       <td>・マスターサンプル</td>
      </tr>

      <tr>
       <td rowspan="3">測定システム解析</td>
       <td>①コントロールプランで特定された特殊特性を技術仕様書に照らして評価する際には、指定された監視・測定装置ならびに方法を用いる。</td> 
      </tr>
      <tr>
       <td>②これらの装置および方法に対して、実質的生産の間、またはその実施前に測定システム評価を行う。</td>
      </tr>
      <tr>
       <td>③MSAの詳細については、第６章参照。</td>
      </tr>

      <tr>
       <td rowspan="2">工程能力予備調査</td>
       <td>①工程能力予備調査を、コントロールプランで特定した特性に対して実施する。</td> 
      </tr>
      <tr>
       <td>②工程能力予備調査の方法については、第５章参照。</td>
      </tr>

      <tr>
       <td rowspan="2">生産部品承認（PPAP)</td>
       <td>①PPAPの目的は、組織がすべての顧客の技術設計文書・使用要求事項を適切に理解し、製造プロセスは実際の量産において、指定の生産能率でこれらの要求事項を満たして製品を安定して生産する能力を有している証拠を提供することである。</td> 
      </tr>
      <tr>
       <td>②PPAPの詳細については第３章参照。</td>
      </tr>

      <tr>
       <td> 量産の妥当性確認試験</td>
       <td>①量産用の治工具・プロセスで製造された製品が、顧客の技術規格（外観要求事項を含む）を満たしていることの妥当性を確認する。</td> 
      </tr>

      <tr>
       <td rowspan="2">梱包評価</td>
       <td>①すべての試験出荷および試験方法によって、製品を通常の運送中の損傷や有害な環境要因から保護できるかを評価する。</td> 
      </tr>
      <tr>
       <td>②顧客が梱包方法を指定する場合でも、組織による評価は必要である。</td>
      </tr>

      <tr>
       <td rowspan="4">量産コントロールプラン</td>
       <td>①量産コントロールプランは、量産段階の製品・プロセスを管理するシステムを管理するシステムについて記述した文書である。</td> 
      </tr>
      <tr>
       <td>②量産コントロールプランは生きた文書であり、常に最新の内容に更新する。</td>
      </tr>
      <tr>
       <td>③コントロールプランの内容には、IATF16949規格の付属書AおよびAPQP参照マニュアルに記載されている</td>
      </tr>
      <tr>
       <td>④量産コントロールプランは、顧客の承認が必要なことが多い。</td>
      </tr>

      <tr>
       <td rowspan="11">品質計画承認署名 Quality Planing sign off</td>
       <td>①APQPチームは製造事業所でレビューを行い、正式な承認署名の調整を行う。</td> 
      </tr>
      <tr>
       <td>②製品品質承認署名によって、適切なAPQP活動が完了していることが経営者に示される。</td>
      </tr>
      <tr>
       <td>③承認署名は初品出荷の前に行い、次の事項のレビューを含む。</td>
      </tr>
      <tr>
       <td>・製造プロセスはプロセスフロー図に従っていることを検証する。</td>
      </tr>
      <tr>
       <td>・各作業はコントロールプランに従って実施されていることを検証する。</td>
      </tr>
      <tr>
       <td>・プロセス指示書にはコントロールプランで規定されたすべての特殊特性が記載されており、またすべてのPFMEAの推奨処置が対処されていることを検証する。</td>
      </tr>
      <tr>
       <td>・プロセス指示書、PFMEAおよびプロセスフロー図をコントロールプランと比較する。</td>
      </tr>
      <tr>
       <td>・コントロールプランにより、特別なゲージ、治具、試験装置または機器が必要とされる場合、ゲージ繰り返し性・再現性（ゲージR&R）ならびに適切な使用について検証する。</td>
      </tr>
      <tr>
       <td>・要求される生産能力の実証には、量産用のプロセス、装置、および要員を用いる。</td>
      </tr>
      <tr>
       <td>④承認署名の完了に際し、APQPプログラムの状況の情報を経営者に伝え、未解決問題に対する経営者の支援を獲得するために、経営者とのレビューを行う。</td>
      </tr>
      <tr>
       <td>⑤製品品質計画総括・承認書参照（図2.14参照）</td>
      </tr>



       </tbody>
      </table>

	  	</div>
    


      <div id="panel5" class="tab_panel">
    

          <table>
        <thead>
         <table border="1">
          <tr>
           <th>項目</th>
           <th>内容</th>
  
          </tr>
        </thead>
       <tbody>

       <tr>
       <td rowspan="4">変動の減少</td>
       <td>①工程変動を減少させるツールとして、管理図などの統計的手法を用いる。</td> 
      </tr>
      <tr>
       <td>②継続的改善を進めるためには、変動の特別原因だけでなく、共通原因の理解およびこれらの変動源を減少させる方策を追求する。</td>
      </tr>
      <tr>
       <td>③共通原因を減少させ、除去することによって、コスト削減という付加的な利益が得られる。</td>
      </tr>
      <tr>
       <td>④品質を改善し、コストを削減するために、組織は価値分析や変動の減少というツールを利用する。</td>
      </tr>

      <tr>
       <td> 顧客満足の向上</td>
       <td>①製品・サービスの詳細な計画活動および実証された工程能力は、顧客満足の重要な構成要素である。</td> 
      </tr>

      <tr>
       <td rowspan="2">引渡しおよびサービスの改善</td>
       <td>①顧客による部品交換やサービス業務も、品質、コスト、引き渡しに関する要求事項を満たさなければならない。</td> 
      </tr>
      <tr>
       <td>②到達目標は初回品質である。しかし、市場で問題または不具合が発生した場合、組織と顧客は、問題を是正するために効果的なパートナーシップを組むことが不可欠である。</td>
      </tr>

      <tr>
       <td rowspan="8">学んだ教訓・ベストプラクティスの効果的な利用</td>
       <td>①学んだ教訓やベストプラクティスの一覧は、知識の獲得、保持、応用に役立つ。</td> 
      </tr>
      <tr>
       <td>②学んだ教訓・ベストプラスティスへのインプットは、次のものを含む様々な方法から得る事ができる。</td>
      </tr>
      <tr>
       <td>・成功事例・失敗事例（TGR/TGW）のレビュー</td>
      </tr>
      <tr>
       <td>GR 成功事例(Things gone right), TGW 失敗事例(Things gone wrong)</td>
      </tr>
      <tr>
       <td>・保証および他のパフォーマンス指標のデータ</td>
      </tr>
      <tr>
       <td>・是正処置計画</td>
      </tr>
      <tr>
       <td>・類似の製品・プロセスの研究</td>
      </tr>
      <tr>
       <td>・DFMEAおよびPFMEAの調査</td>
      </tr>







    
      










       </tbody>
      </table>
  		</div>
    
      <div id="panel6" class="tab_panel">
       <table>
        <thead>
         <table border="1">
          <tr>
           <th>項目</th>
           <th>内容</th>
  
          </tr>
        </thead>
       <tbody>

       <tr>
       <td rowspan="3">製品設計文書</td>
       <td>①製品図面、製品仕様書などの文章。</td> 
      </tr>
      <tr>
       <td>②その製品に使われる部品についての設計文書を含む。</td>
      </tr>
      <tr>
       <td>③設計文書が電子媒体の場合、測定箇所を明記したハードコピーを添付する。</td>
      </tr>

      

       <tr>
       <td> 技術変更文書(顧客承認)</td>
       <td>①設計文書には反映されていないが、製品、部品または治工具に組み入れられた技術変更に対する顧客承認の文章。</td> 
      </tr>

      <tr>
       <td> 顧客技術部門承認</td>
       <td>①要求事項のうち、事前に顧客の技術部門の承認を得ている場合は、その証拠。</td> 
      </tr>

      <tr>
       <td> 設計FMEA</td>
       <td>①顧客指定の要求事項(例：FMEA参照マニュアル)に従った設計FMEA。</td> 
      </tr>

      <tr>
       <td> プロセスフロー図</td>
       <td>①製造プロセスのステップと、つながりを証明したプロセスフロー図。</td> 
      </tr>

      <tr>
       <td> プロセスFMEA</td>
       <td>①顧客指定の要求事項(例：FMEA参照マニュアル)に従ったプロセスFMEA</td> 
      </tr>

      
      <tr>
       <td> コントロールプラン</td>
       <td>①製造工程の管理に用いるすべての方法を規定した、顧客指定の要求事項(例：APQP参照マニュアル、IATF16949規格付属書A)に的尾久したコントロールプラン。</td> 
      </tr>

      <tr>
       <td rowspan="3">測定システム解析(MSA)</td>
       <td>①新規または変更されたゲージ、測定および試験装置のすべてに対して、適切なMSA調査を行う。</td> 
      </tr>
      <tr>
       <td>②MSA調査の方法には、例えば、ゲージR&R、偏り、直線性、安定性調査などがある(MSA参照マニュアル参照)。</td>
      </tr>
      <tr>
       <td>③コントロールプランに記載された測定システムが、MSA調査の対象となる。</td>
      </tr>

      <tr>
       <td rowspan="3">寸法測定結果</td>
       <td>①設計文書およびコントロールプランに規定された、すべての寸法について寸法検査を実施する。</td> 
      </tr>
      <tr>
       <td>②各製造プロセス(例：セルまたは生産ライン、およびキャビティ、鋳型、パターンまたは金型)ごとに寸法測定を行う。</td>
      </tr>
      <tr>
       <td>③寸法検査に対する要求事項は、IATF16949規格(箇条8.6.2)では、レイアウト検査として規定される。</td>
      </tr>

      <tr>
      <td rowspan="3"> 材料試験・性能試験結果</td>
      <td>①次の各要求事項が、設計文書またはコントロールプランで規定されている場合、すべての製品・材料に対して試験を行う。
      </td> 
      </tr>
      <tr>
      <td>・化学的・物理的または冶金的要求事項</td>
      </tr>
      <tr>
      <td>・性能・機能に関する要求事項</td>
      </tr>

      <td rowspan="6"> 初期工程調査</td>
      <td>①顧客または組織が指定したすべての特殊特性に対して、初期工程能力(Cpk)または初期工程性能(Ppk)の調査を行う。
      </td> 
      </tr>
      <tr>
      <td>②PPAP提出に先立って、初期工程能力・初期工程性能評価のための指標に対する顧客の同意を得る。</td>
      </tr>
      <tr>
      <td>③Xbar-R管理図を用いて調査が可能な特性については、連続した100個以上(サブグループ25以上)のサンプルを用いる。</td>
      </tr>
      <tr>
      <td>④安定した工程の初期工程調査結果を評価するために、次の合否判定基準を用いる。</td>
      </tr>
      <tr>
      <td>⑤不安定な工程は顧客の要求事項を満たさない。PPAP提出に先立って、変動の特別原因を調査・評価し、(また可能場合は)除去する。不安定な工程があれば顧客代表に通知し、PPAP提出前にその是正処置計画を顧客に提出する。</td>
      </tr>
      <tr>
      <td>⑥初期工程能力(Cpk)および初期工程性能(Ppk)評価の方法については、SPC参照マニュアルおよび本書の第5章参照。</td>
      </tr>

      <td rowspan="4"> 有資格者試験所文書</td>
      <td>①試験所(laboratory)とは、製品の検査、試験または測定器の校正を行う施設をいう。
      </td> 
      </tr>
      <tr>
      <td>②試験所には、内部試験所(組織内部の試験所)と外部試験所があり、それぞれに対する要求事項は、IATF16949規格(箇条7.1.5.3)に規定されている。</td>
      </tr>
      <tr>
      <td>③PPAPのための検査・試験は、顧客要求事項で定められているとおり、有資格試験所(例：認定試験所)で実施する。</td>
      </tr>
      <tr>
      <td>④(組織内部・外部の)有資格試験所は、試験所適用範囲、および実施される測定・試験の種類に対して、その試験所が資格認定されていることを示す資料を準備する。</td>
      </tr>

      <td rowspan="3"> 外観承認報告書(appearance approval report,AAR)</td>
      <td>①外観承認報告書は、顧客から外観品目として指定された製品に対して要求される。外観品目に対する要求事項は、IATF16949規格(箇条8.6.3）に規定されている。
      </td> 
      </tr>
      <tr>
      <td>②設計文書において製品の外観要求事項が指定された場合、個々の製品ごとに、外観承認報告書(ARR)を作成する。。</td>
      </tr>
      <tr>
      <td>③ARRと生産部品の代表サンプルを、顧客の指定に従って提出し、判定を受ける。</td>
      </tr>

      <td rowspan="2"> 製品サンプル</td>
      <td>①顧客の評価用サンプルを、顧客の指定通りに提供する。
      </td> 
      </tr>
      <tr>
      <td>②サンプルは、量産と同じ製造工程で製造する。</td>
      </tr>

      <td rowspan="2"> マスターサンプル</td>
      <td>①マスターサンプル(標準サンプル)は、マスターサンプルであることがわかるように識別し、顧客承認日付を表示する。
      </td> 
      </tr>
      <tr>
      <td>②マスタ―サンプルは、PPAPの記録と同じ期間保管する。</td>
      </tr>

      <td rowspan="4"> 検査補助具</td>
      <td>①検査補助具とは、製品の検査に使用する製品固有の検査治工具をいう。
      </td> 
      </tr>
      <tr>
      <td>②(顧客から要請のある場合)検査補助具を、PPAP提出に添えて提出する。</td>
      </tr>
      <tr>
      <td>③検査補助具は、その妥当性を確認し、製造寿命期間中は適切に予防保全を行う。</td>
      </tr>
      <tr>
      <td>④顧客要求事項に従ってMSA調査を行う。</td>
      </tr>

      <td rowspan="2"> 顧客固有要求事項適合記録</td>
      <td>①すべての顧客要求事項に適合している記録を維持する。
      </td> 
      </tr>
      <tr>
      <td>②バルク材料に関しては、適用される顧客固有要求事項をバルク材料要求事項チェックリストに記載する。</td>
      </tr>

      <td rowspan="2"> 部品提出保証書(part submission warant,PSW)</td>
      <td>①すべてのPPAP要求事項が完了した際、部品提出保証書(PSW)を顧客に提出して、承認を得る。
      </td> 
      </tr>
      <tr>
      <td>②生産部品が２つ以上のキャビティ、鋳型、治工具、金型、パターンまたは生産プロセスから製造される場合、その各々から１つの部品について完全な寸法評価を行う。</td>
      </tr>

      <tr>
       <td>バルク材料チェックリスト</td>
       <td>①バルク材料に関しては、PPAP参照マニュアルの付属書F”バルク材料固有要求事項”に規定された要求事項に従う。</td> 
      </tr>



      



       </tbody>
      </table>

  		</div>

	

  <%= link_to '戻る', root_path %>
	</div>
</div>







      


















